useDynLib(sparseSVM, .registration=TRUE)
export(sparseSVM)
importFrom(graphics, plot)
S3method(plot, sparseSVM)
importFrom(stats, predict)
S3method(predict, sparseSVM)
importFrom(stats, coef)
S3method(coef, sparseSVM)

import(parallel)
importFrom("grDevices", "hcl")
importFrom("graphics", "abline", "arrows", "axis", "mtext", "par", "points")
importFrom("stats", "approx", "lm", "quantile", "sd", "update")
